.toast-container {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    gap: .75rem;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
    font-size: 1rem;
    line-height: 1.25rem;
    align-items: end;
}

.toast-notification {
    display: flex;
    padding: .5rem 1rem;
    margin: 0;
    background-color: #76b7cd;
    color: white;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 5px;
    width: fit-content;
}
